@import "tailwindcss";

body{
    padding: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    background-color: var(--body-bg);
}

:root {
    --body-bg: var(--p-surface-50);
}

:root[class="my-app-dark"] {
    --body-bg: var(--p-surface-950);
}
